.bm_page_super{
  position: absolute;
  top:40px;

  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-around;
}
#bm_page_super_show{
  display: flex;
}
#bm_page_super_hide{
  display: none;
}