.T1_page{
  position: absolute;
  top:40px;

  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-around;
}
#T1_page_show{
  display: flex;
}
#T1_page_hide{
  display: none;
}