#auth-container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
#auth-container-2{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 250px;
  height: 185px;
  background: rgba(255,255,255,0.5);
  box-shadow:  0px 1px 3px rgba(25, 25, 25, 0.4);
}
#auth-logon{
  font-size:16px;
  margin-bottom: 12px;
  color: #444444;
}
#auth-google-link{
  
}
#auth-google-image{
  width: 64px;
  border: 1px solid white;
}
#auth-google-image:hover{
  border: 1px solid black;
}
