#container_hold{
  width: 100%;
  height: 100%;
  position: relative;
}

#container-1{
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
}

#container-2{
  position: relative;
  width: 90%;
  height: 100%;
  margin: 0 auto;
}

/*match to .apex_inner in F1Apex*/
@media screen and (max-width: 300px) {
  #container-2 {
    width: 300px;
  }
}