.favicon_all{
  position: relative;
  width: 24px;
  top: 8px;
  left: 8px;
}
#favicon_01{
  transform: rotate(1deg);
  transition: transform 1s;
}
#favicon_90{
  transform: rotate(90deg);
  transition: transform 1s;
}
