.holder{
  border: 1px solid rgba(255, 255, 0, 0);
  display: inline-block;
}
.holder:hover{
  border: 1px solid rgba(0, 0, 0, .5);
}
.p11{
  margin: 0px;
  text-align: center;   
  font-size: .7rem; 
}