#modal-box-form {
  
}
/*
#modal-box-form {
  width: 100%;
  height: 100%;
  text-align: center;
  position: relative;
}
*/
#title{
  color: #000000;
  font-size: 20px;
  font-style: inherit;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
}

#solid-line{
  border-top: 1px solid #bbbbbb;
  margin: auto;
  width: 80%;
  margin-bottom: 14px;
}

#modal-cross{
  position: absolute;
  top: 5px;
  right: 14px;
  font-size: 30px;
  transform: rotate(45deg);
  cursor: pointer;
}

/* use calc to remove the 16px from padding */

.input_item{
  box-sizing: border-box;
  
  display: block;
  width: 80%;
  height: 25px;
  padding: 0px 8px 0px 8px;
  margin: 13px auto;
  border-radius: 8px;
  border-style: solid;
  border-width: 1px;
  border-color: #aaaaaa;
  background-color: #ffffff;
  outline: none;
}

.form_button{
  width: 80%;
  padding: 7px;
  margin: 0px 0px 30px 0px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 12px;
  color: #fff;  
  background-color: #222222;
}

.form_button:hover{
}