  #fast-app{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;    
  }  
  #time {
    font-size: 6rem;
  }
  #greeting{
    font-size: 2rem;
  }