/*
*/
#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  box-shadow: 0px 1px 3px rgba(25, 25, 25, 0.1);
}
.footer_show{
  height: 30px;
  transition: height 1s; 
}
.footer_hide{
  height: 0px;
  transition: height 1s;
}

/*
*/
#footer_inner {
  height: 100%;  
}
.footer_style_1 {
  background: rgba(255, 255, 255, .9);
  transition: background 1s;
}
.footer_style_45 {
  background: rgba(255, 255, 255, .10);
  transition: background 1s;
}

/*
*/
.footer_item{
  position: relative;
  top: 8px;
  margin-left: 20px;
  color: rgba(128, 128, 128, .99);
  text-decoration: none;
}