.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  background: rgba(255, 255, 255, .9);
}
#footer_show{
  height: 30px;
  transition: height 1s; 
}
#footer_hide{
  height: 0px;
  transition: height 1s;
}
.contact{
  position: relative;
  top: 8px;
  margin-left: 20px;
  color: rgba(128, 128, 128, .99);
  text-decoration: none;
}
