
.apex_hold{
  position: fixed;
  z-index: 1000000;
  width: 100%;
  box-shadow: 0px 1px 3px rgba(25, 25, 25, 0.1);
}

#apex_style_99{
  background: rgba(255, 255, 255, .9);
  transition: background 1s;

}

#apex_style_45{
  background: rgba(255, 255, 255, .45);
  transition: background 1s;
}


.apex_inner {
  width: 90%;
  border-left: 1px dotted #eeeeee;
  border-right: 1px dotted #eeeeee;
}

@media screen and (max-width: 500px) {
  .apex_inner{
    width: 100%;
  }
}

@media screen and (max-width: 300px) {
  .apex_inner {
    width: 300px;
  }
}
