
#apex_hold{
  position: fixed;
  z-index: 1000000;
  width: 100%;
  box-shadow: 0px 1px 3px rgba(25, 25, 25, 0.4);
  background: rgba(255, 255, 255, .90);
}

/* used in all 3 apex levels
*/

.apex_inner {
  width: 90%;
  border-left: 1px dotted #eeeeee;
  border-right: 1px dotted #eeeeee;
}

/* match to container-2 in F1Page 
*/

@media screen and (max-width: 300px) {
  .apex_inner {
    width: 300px;
  }
}
@media screen and (max-width: 500px) {
  .apex_inner{
    width: 100%;
  }
}