.apex1-1{
  width: 100%;
}
#apex1-1_show{
  border-bottom: 1px dotted;
  border-color: #eeeeee;
  height: 40px;
  transition: height 1s;
}
#apex1-1_hide{
  height: 0px;
  transition: height 1s;
}
#apex1-2{
  position: relative;
  height: 100%;
  margin: 0 auto;
}