.apex0-1_on{
  width: 100%;
  height: 18px;
  border-bottom: 1px dotted;
  border-color: #eeeeee;
  transition: height 1s;
}

.apex0-1_off{
  width: 100%;
  height: 0px;
  transition: height 1s;
}

#apex0-2{
  position: relative;
  height: 100%;
  margin: 0 auto;
}

/*
*/

.search_icon_all{
  height: 100%;
  margin: 0 auto;
  display: block;
}
#search_icon_still{
  transform: rotate(0deg);
  transition: transform 1s;
}
#search_icon_rotate{
  transform: rotate(180deg);
  transition: transform 1s;
}