.search_bar_div{
  position: relative;
  top: 4px;
  margin: 0 auto;
  width: 140px;
  height: 30px;
}
#search_bar_div_show{
  display: flex;  
}
#search_bar_div_hide{
  display:none;
}
#search_bar_input{
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  border-color: #dddddd;
  width: 140px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0);
}
#search_bar_input:hover {
 background-color: rgba(0, 0, 0, .1);
}
#search_icon{
  position:relative;
}


