

/**  resets
**/


html{
  height: 100%;
  width: 100%;
}
body{
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  border: 0;
  font-size: 11px;
  font-family: Arial;
}
p{
  margin: 0;
  padding: 0;
  line-height: 100%; 
}
input[type=text]{   
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}


/** CSS
**/


/* index.jsx holds 1st level div */
#app{
  width: 100%;
  height: 100%;
}


/* M-MQ-WIDTH
**
**
*/


@media screen and (max-width: 500px) {
  #apex_hold{
    background: rgba(255, 255, 255, 1);
  }
  .bookmark_page{
    width: 100%;
  }
}